<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case 2</title>
</head>
<body>
<header>
    <img src="../../layouts/case%202/images/ijselogo.png" alt="">


    <ul>
        Home
        Service
        Contact
        About Us
    </ul>

</header>
<main>

    <nav>
        Home
        Service
        Contact
        About Us
    </nav>
    <section>
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, assumenda delectus dignissimos esse facilis fuga fugit
            harum laboriosam, laudantium libero molestias nostrum obcaecati perferendis quaerat tempore
            ullam ut veritatis voluptate.</p>


    </section>

</main>
<footer>
<p>Developed by IJSE</p>
</footer>
</body>
</html>