*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    background-color: #101010;
    font-family: 'Montserrat', sans-serif;

}
.container h2{
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 3px;
    padding: 0 15px;
    letter-spacing: 0.13em;
    color: white;

}
.line{
    width: 10%;
    height: 3px;
    border: 0 none;
    background-color: #24987E;
    margin-bottom: 10px;


}
.container p{
    color: #848484;
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 0.03em;

}
.box-container{
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    width: 20%;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    color: white;
    background-color: #1C1C1C ;


}
.image img{
    width: 100%;
    background-color: #848484;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title{
    text-align: center;
    padding: 5px;
}
.title h1{
    margin: 2px;
    font-size: 20px;
}

.des{
    text-align: center;
    padding: 4px;
}

.btn{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 40px;
    background: #24987E;
    color: white;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{

    border: 1px solid  #24987E;
    transition: 0.5s;
    background: #0c6b56;
}

@media (max-width: 880px) {
    .container h2{
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 30px;

    }
    .container p{
        font-size: 12px;
    }
    .box-container{
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        margin-bottom: 30px;

    }
    .cards{
        min-width: 350px;
        margin: 10px auto;
    }
    .container h2:after{
        left: 43%;
        top: 11.5%;
        width: 13%;

    }

}